div.card-image {
  border-radius:5px;
  margin:20%;
  background-color:white;
  display: flex;
  position: relative;
  flex-direction: column;
  div.image {
    flex: 1 0;
  }
  div.content {
    flex: 0 0 30%;
    display:flex;
    justify-content:center;
    align-items:center;
    span{
      text-align:center;
      font-size:80%;
    }
  }
}
