div.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  > img {
    flex: 0 0 200px;
    width: 200px;
    height: auto;
  }
  >div.filler{
    flex:1 0;
  }
}
