div.tp-sidebar {
  background-color: rgba(4, 4, 4, 0.1);
  width: 20%;
  max-width: 275px;
  min-width: 50px;
  height: 100%;
  -webkit-box-shadow: 1px 0px 19px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 19px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 19px 0px rgba(0, 0, 0, 0.5);
}
